*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgb(245, 240, 216);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 100px;
    margin-right: 100px;
    height: 350px;
    padding: 100px;
    
}
#inicio {
    font-size: medium;
    padding-right: 300px;
    text-align: justify;
}

.foto{
    height: 350px;
    width: 330px;
    float: left;
    border: 7px solid #000000;
    border-radius: 10px;
    margin-right: 15px;
}

